<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Nancy.Blog.Example</title>
    <link href="~/Content/css/pure-min.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1>@Model.Blog.Title</h1>
      

    </main>
  </body>
</html>
