@using Nancy.Blog
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Nancy.Blog.Example - Readme</title>
  <link href="~/Content/css/pure-min.css" rel="stylesheet" />
  <link href="~/Content/css/blog.css" rel="stylesheet" />
</head>
<body>
  <div>
    @Html.MarkdownLoad(@Model as string + @"Content\readme.md");
  </div>
  <script src="~/Content/js/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
